@font-face {
  font-family: "RobotoMono";
  src: url("./fonts/RobotoMono-Thin.ttf");
}

* {
  font-family: "RobotoMono", monospace;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #ffffff;

  background: linear-gradient(to right, rgb(69, 104, 220), rgb(176, 106, 179));
}
